* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    color: white;
    font-size: 18px;

    // Light Theme
    --bg-color: hsl(0, 0%, 98%);
    --theme-icon: url('../../../public/images/icon-moon.svg');
    --bg-img-desktop: url('../../../public/images/bg-desktop-light.jpg');
    --bg-img-mobile: url('../../../public/images/bg-mobile-light.jpg');
    --todo-bg-color: #fff;
    --text-color: hsl(235, 19%, 35%);
    --hover-color: hsl(235, 19%, 35%);


    // Dark Theme
    &.dark {
        --bg-color: hsl(235, 21%, 11%);
        --theme-icon: url('../../../public/images/icon-sun.svg');
        --bg-img-desktop: url('../../../public/images/bg-desktop-dark.jpg');
        --bg-img-mobile: url('../../../public/images/bg-mobile-dark.jpg');
        --todo-bg-color: hsl(235, 24%, 19%);
        --text-color: hsl(234, 39%, 85%);
        --hover-color: hsl(236, 33%, 92%);
        
    }

}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: normal;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

input {
    font-family: inherit;
}

.App {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: var(--bg-img-mobile);
    min-height: 100vh;
    background-color: var(--bg-color);

    @media only screen and (min-width: 375px) {
        background-image: var(--bg-img-desktop);


    }

    .list-container {
        width: 500px;
        margin: 0 auto;
        border-radius: 5px;
        box-shadow: 0px 0px 30px 0px #0000003d;
        background-color: var(--todo-bg-color);
        color: var(--text-color);

    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 13px;
        justify-content: space-around;
        align-items: center;
        margin: 0px 15px;
        color: hsl(236, 9%, 61%);

        .clear-btn {
            text-align: right;
            cursor: pointer;
            &:hover{
                color: var(--hover-color);
            }
        }
    }

    .filterby {
        margin: 0 auto;
        display: flex;

        li {
            margin: 5px;
            color: hsl(236, 9%, 61%);
            font-weight: 500;

            &:hover {
                cursor: pointer;
                color: var(--hover-color);
            }

            &.active {
                color: hsl(220, 98%, 61%);
            }
        }
    }

    .add-todo-container {
        margin: 0 auto;
        border-radius: 5px;
        display: flex;
        padding: 15px;
        margin-bottom: 15px;
        width: 500px;
        background-color: var(--todo-bg-color);

        input {
            border: none;
            outline: none;
            font-size: 18px;
            color: var(--text-color);
            font-weight: 400;
            width: 100%;
            background-color: transparent;
        }
    }
}