.task-preview {
    position: relative;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid hsla(234, 39%, 85%, 0.258);

    p {
        line-break: anywhere;
        padding-right: 25px;
    }

    .outter-circle {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        margin-right: 15px;
        border: 1px solid hsla(0, 0%, 67%, 0.411);

        &:hover {
            cursor: pointer;
            background: linear-gradient(140deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
            border: none;
        }



        .circle {
            position: absolute;
            border-radius: 50%;
            width: 23px;
            height: 23px;
            background-color: var(--todo-bg-color);
        }

        .check {
            background-image: url('../../../public/images/icon-check.svg'), linear-gradient(140deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
            background-repeat: no-repeat;
            background-position: center;

        }
    }



    .complete {
        text-decoration: line-through;
    }

    .remove-task {
        cursor: pointer;
        position: absolute;
        right: 20px;
        -webkit-user-select: none;
        /* Safari */
        -ms-user-select: none;
        /* IE 10 and IE 11 */
        user-select: none;
        /* Standard syntax */
    }

    input {
        margin-right: 15px;
    }

}