.task-preview {
    position: relative;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid hsla(234, 39%, 85%, 0.258);

    p {
        line-break: anywhere;
        padding-right: 25px;
    }

    .complete {
        text-decoration: line-through;
    }

    .remove-task {
        cursor: pointer;
        position: absolute;
        right: 20px;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }

    input {
        margin-right: 15px;
    }

}